{% if status_fb_login %}
    {#  Se ha il metodo attach va ad aggiungere un elemento al pulsante "standard" #}
    {% if type_attach %}
        <script>
            $(".well").append("<div class=\"fb-login-button\" data-width=\"\" data-size=\"medium\" data-button-type=\"login_with\" data-layout=\"rounded\" data-auto-logout-link=\"false\" data-use-continue-as=\"true\" onlogin=\"loginuseronfacebook();\" data-scope=\"email,public_profile\"></div>\n" +
                "<div class=\"fb-login-error\"></div>");
        </script>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true" onlogin="loginuseronfacebook();" data-scope="email,public_profile"></div>
                <div class="fb-login-error"></div>
            </div>
        </div>
    {% endif %}
    {# Script for connection to Facebook #}
    <script>
    function newaccess(){
        FB.login(function(response) {
            if (response.status === 'connected') {
                FB.api('/me', { fields: 'name,id,email,first_name,last_name' }, function (response) {
                    if(!response.email){
                    var email = prompt("{{ insert_email }}", "{{ exemple_email }}");
                    } else {
                        email = response.email;
                    }
                    if(!response.first_name){
                        var first_name = prompt("{{ insert_email }}", "");
                    } else {
                        first_name = response.first_name;
                    }
                    if(!response.last_name){
                        var last_name = prompt("{{ insert_email }}", "");
                    } else {
                        last_name = response.last_name;
                    }
                    $.ajax({
                        url: '{{ request }}',
                        data: 'email=' + email + '&fname=' + first_name + '&lname=' + last_name + '&fb_id=' + response.id + '&login_via=facebook',
                        type: 'get',
                        success: function (json) {
                            if (json['success']) {
                                window.location.reload();
                            } else if (json['error']) {
                                for (i in json['error']) {
                                    $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'][i] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertBefore($('div.fb-login-error'));
                                }
                            } else {
                                window.location.reload();
                            }
                        }
                    });
                });
            } else {
            }
        }, {scope: 'public_profile,email'});
    }

    function login(accessToken){
        FB.api('/me', { fields: 'id,email,name,first_name,last_name',  access_token : accessToken } , function(response) {
            if(!response.email){
                var email = prompt("{{ insert_email }}", "{{ exemple_email }}");
            } else {
                email = response.email;
            }
            if(!response.first_name){
                var first_name = prompt("{{ insert_email }}", "");
            } else {
                first_name = response.first_name;
            }
            if(!response.last_name){
                var last_name = prompt("{{ insert_email }}", "");
            } else {
                last_name = response.last_name;
            }
            $.ajax({
                url: '{{ request }}',
                data : 'email='+email+'&fname='+first_name+'&lname='+last_name+'&fb_id='+response.id+'&login_via=facebook',
                type : 'get',
                success: function(json) {
                    if (json['success']) {
                        window.location.reload();
                    } else if (json['error']) {
                        for (i in json['error']) {
                            $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'][i] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertBefore($('div.fb-login-error'));
                        }
                    } else {
                        window.location.reload();
                    }
                }
            });
        });
    }

    function loginuseronfacebook() {
        FB.getLoginStatus(function(response) {
        if (response.status == 'connected') {
            var accessToken = response.authResponse.accessToken;
            login(accessToken);
        } else if (response.status === 'not_authorized') {
            alert("{{ error_access }}");
        } else {
            newaccess();
        }});
    }
    window.fbAsyncInit = function() {
        FB.init({
        appId: '{{ app_id }}',
        cookie: true,
        xfbml: true,
        version    : 'v6.0'
        });
        FB.AppEvents.logPageView();
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/{{ loc }}/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
{% endif %}